<button class="btn btn-warning m-2" [routerLink]="'/'">Вернуться</button>
<button class="btn btn-dark m-2" data-toggle="modal" data-target="#modal" (click)="massCalculation()">
  Расчет
</button>

<div class="list-group mx-2">
  <button *ngFor="let crate of chosenData.cargo" class="list-group-item p-2" (click)="chosenData.selectCrate(crate)">
    {{crate.length}}x{{crate.width}}x{{crate.height}} мм с весом {{crate.weight}} кг
  </button>
</div>

<div class="list-group m-2">
  <button class="list-group-item bg-info p-2" (click)="chosenData.unselectCrate()">
    {{chosenData.crateDisplayData()}}
  </button>
</div>

<div id="alertMessage" class="alert alert-warning alert-dismissible fade show" role="alert">
  <div id="alertText"></div>
  <button type="button" class="close" (click)="changeDisplay()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>