<div id="truckCarousel" class="" data-ride="carousel" >
      <nav id="navbar-example2" class="navbar navbar-light">
          <a class="navbar-brand" href="#">Выбор грузовика по габаритам</a>
          <ul class="nav nav-pills">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Поиск по тоннам</a>
              <div class="dropdown-menu" >
                <a class="dropdown-item" *ngFor="let truck of trucks; let i = index" href="#{{truck.id}}">{{truck.weight / 1000}} т</a>
              </div>
            </li>
          </ul>
        </nav>
        <div class="scrollbar scrollbar-primary">
          <div data-spy="scroll"  data-target="#navbar-example2" data-offset="0" *ngFor="let truck of trucks; let i = index" class="truckcenter">
            <div class="hoverdiv">  
              <h4 id="{{truck.id}}">Грузовик №{{truck.id}}</h4>
              <p>Длина: {{truck.length}} мм</p>
              <p>Ширина: {{truck.width}} мм</p>
              <p>Высота: {{truck.height}} мм</p>
              <p>Грузоподъемность: {{truck.weight / 1000}} т</p>
              <p>Вместимость паллет: {{truck.pallets}} шт.</p>
            </div>

          </div>
          <button class="btn btn-info btn-padding" (click)="chosenData.truck = truck">Выбрать</button>
        </div>
</div>
