<div class="container-fluid badge badge-light ml-2">
  <div class="container pt-5 pb-3">
  <form [formGroup]="form">
    <div class="form-row">
      <label class="col">
         <input type="text" class="form-control" formControlName="length" placeholder="Длина(мм):">
      </label>
      <label class="col">
         <input type="text" class="form-control" formControlName="width" placeholder="Ширина(мм):">
      </label>
      <label class="col">
         <input type="text" class="form-control" formControlName="height" placeholder="Высота(мм):">
      </label>
      <label class="col">
         <input type="text" class="form-control" formControlName="weight" placeholder="Вес(кг):">
      </label>
    </div>
    <button (click)="chosenData.addCrate(this.form.value)" type="submit" class="btn btn-success btn-block mt-3 mb-3 font-weight-bold" [disabled]="!form.valid">
      Добавить
    </button>
  </form>
</div>
</div>
