<div class="container">
  <p *ngIf="chosenData.truck === undefined; else elseTruck">Грузовик не выбран.</p>
  <ng-template #elseTruck>
    <p>Выбранный грузовик: {{chosenData.truck.weight}} кг, {{chosenData.truck.pallets}} паллет(а/ов)</p>
  </ng-template>

  <p *ngIf="chosenData.pallet === undefined; else elsePallet">Паллет не выбран.</p>
  <ng-template #elsePallet>
    <p>Выбранный паллет: {{chosenData.pallet.weight}} кг</p>
  </ng-template>

  <p *ngIf="!chosenData.cargoIsChosen()">Груз не выбран.</p>
  <p *ngFor="let crate of chosenData.cargo; let i = index">
    <button type="button" class="close" aria-label="Close" [hidden]="canBeDeleted()" (click)="chosenData.deleteCargo(i)">
      <span aria-hidden="true">&times;</span>
    </button>
    {{crate.length}}x{{crate.width}}x{{crate.height}} мм с весом {{crate.weight}} кг
  </p>

  <a [routerLink]="'/viewer'">
    <button class="btn btn-warning" [disabled]="!settingsAreDone()">Распределить груз</button>
  </a>
  <button style="margin-left: 10px;" class="btn btn-danger" (click) = "letDelete()" [disabled]="!settingsAreDone()">Удаление груза</button>
</div>