.carousel-caption {
  z-index: 10;
}

.carousel-item {
  height: 22rem;

  img {
    position: absolute;
    top: 0;
    left: 0;
    // min-width: 100%;
    height: 32rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spesforpalet
{
  width: 220px;
}
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.scrollbar
{
  margin: 20px;
  height: 280px; /* высота нашего блока */
  width: 96%; /* ширина нашего блока */
  overflow-y: scroll; /* прокрутка по вертикали */
}
.right
{
  // float:right;
  // width:48%;
  height: 300px;

  margin: 0 auto;
  margin-bottom: 70px;
}

.left
{
  float:left;
  width:48%;
  height: 300px;
  margin: 0 auto;

}
.leftforblock
{
  width:100%;
  height: 100%;
}
.specnav
{
  width:100%;
}
.specdiv
{
  margin: 0 auto;
}
.margin20
{
  margin-left:200px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #292929; }
.truckcenter
{
  text-align:  center;
}
.btn-padding
{
  width: 80%;
  margin-left: 10%;
}

.hoverdiv
{
  
}